---
layout: archive
title: "Conference attendance and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h3>Talks</h3>

{% for post in site.talks reversed %}
  {% if post.type == "Talk" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h3>Conferences attended</h3>

{% for post in site.talks reversed %}
  {% if post.type == "Conference" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
